

:root {
    --primary: #763D00;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
  
    background-image: url("/image/background.png");
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 100px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar li:hover{
    border: 1px solid black;
    width: 50%;
    text-align: center;
   
   
}
.main {
    background-image: url(../image/lavo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
 
}

.main::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(49, 49, 66, 0.8);
    z-index: -1;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
   
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);;
  
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.rounded{
    margin-top: 5px;
    border: 1px solid #763D00;
}

 .card-effect:hover .rounded{
    background-color: aqua;
   
   
}

.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 20, 51, 0.8);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.project img {
    transition: all 0.4s ease;   
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}


.social {
    position: fixed;
    top: 180px;
    z-index: 3;
  }
  .social ul {
    padding: 0px;
  
    transform: translate(-250px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
  
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  
  .social ul li a{
   color: black;
   text-decoration: none;
    
  }
  .social ul li:hover {
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: #000;
    text-transform: uppercase;
  }
  .social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    transform: rotate(360deg); 
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 5px;
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    transform: rotate(0deg);
  }
  
  .footer-top {
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-bottom {
    background-color: #242933;
}




  

